.first div {
    background-color: #eeee;
    width: 100px;
    height: 100px;
    display: flex;
    color: #ff5722;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px #03a9f4, 0 0 10px #ff5722;
}

.second {
    display: flex;
    background-color: #eeee;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.second div {
    background-color: #607d8b;
    width: 190px;
    align-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.second .one {
    order: 6;
    height: 12.5%;
    align-self: flex-end;
}
.second .two {
    order: 5;
}
.second .three {
    order: 2;
    height: 12.5%;
    align-self: flex-start;
}
.second .four {
    order: 3;
}
.second .five {
    order: 4;
}
.second .six {
    order: 1;
}

.third {
    background-color: #eeee;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.third div {
    background-color: #009688;
    color: white;
    align-content: center;
    text-align: center;
}

.third .one, .three {
    height: 95px;
    width: 30px;
    align-self: flex-end;
}
.third .two {
    height: 95px;
    width: 50%;
    
}

.fourth {
    background-color: #eeee;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
}

.fourth div {
    color: white;
    align-content: center;
    text-align: center;
    width: 100px;
    height: 50%;
}

.fourth .one {
    background-color: #ff9800;
    order: 2;
    
}

.fourth .two {
    background-color: #8bc34a;
    align-self: flex-end;
    order: 3;
}
.fourth .three {
    background-color: #795548;
    align-self: flex-start;
    order: 4
}
.fourth .four {
    background-color: #673ab7;
    align-self: flex-end;
    order: 1;
}

:root {
    --ElementColor: yellow;
}
.page {
    background-color: #eeee;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    padding: 5px;
}

.page .header {
    display: flex;
    align-items: flex-start;
}
.page .main-area {
    display: flex;
    align-items: center;
}
.page .footer {
    display: flex;
    align-items: flex-end;
}
.page .header .logo {
    display: flex;
    background-color: yellow;
    width: 19%;
    height: 15%;
    text-align: center;
    align-content: center;
}

.page .header .links {
    display: flex;
    list-style: none;
    background-color: yellow;
    width: 79%;
    height: 15%;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}



