/*
Flexible Box
    for parent
        - display: flex;
        - flex-direction: row | row-reverse | column | column-reverse;
        - flex-wrap: nowrap | wrap | wrap-reverse;
        - flex-flow: <flex-direction> || <flex-wrap>;
        - justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
        - align-items: flex-start | flex-end | center | baseline | stretch;
        - align-content: flex-start | flex-end | center | space-between | space-around | stretch;
    for child
        - order: <integer>;
        - flex-grow: <number>   0 default value;
        - flex-shrink: <number> 1 default value;
        - flex-basis: <length> | auto;
        - flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
        - align-self: auto | flex-start | flex-end | center | baseline | stretch;  
*/

.parent {
    display: flex;
    width : 300px;
    background-color: #eeeeee;

}

div {
    background-color: red;
    color : white;
    margin-right : 5px;
    padding : 20px;
    width : 50px;
    text-align: center;

}